*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    height:100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.nav-head{
    width:100%;
    height:5rem;
    display: flex;
    flex-direction: row;
    border:solid 1px rgba(219, 205, 205, 0.856);
    justify-content: space-around;
    align-items: center;
}
.nav-head > img{
    width:6.5rem;
}
input{
    width:30rem;
    height:2rem;
    border:solid 1px rgb(211, 194, 194);
    border-radius:5px;
    padding:5px;
    outline: none;
}
::placeholder{
    color:black;
}
.nav-head > .user{
    width:fit-content;
    display:flex;
    flex-direction: row;
    gap:1.2rem;
}
.user > img{
    width:1.7rem;
    height:1.7rem;
}
body > .head{
    width:100%;
    height:3rem;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    gap:3em;
}
body > .head > h2{
    font-size:1rem;
    font-weight: 550;
    text-transform: uppercase;
}
body > .head > h2:hover{
    text-decoration:underline 2px rgb(247, 23, 23);
    text-underline-offset:0.25rem;
    cursor: pointer;
}
body .trending{
    width:80%;
    height:35em;
    background-image:url('../images/name');
    background-size:100% 100%;
    background-position:center center;
    border-radius:0.6rem;
    text-align: left;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    padding-left:4.5rem;
    gap:1rem;
    box-shadow:0px 0px 1px rgb(129, 127, 127);
}
.trending > .left > img{
    margin-left:-4rem;
    width:2rem;
    border-radius:50%;
    background-color:white;
    box-shadow:0px 0px 1px black;
}
.trending > .text{
    width:12rem;
    height:20rem;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}
.trending > .right > img{
    width:2rem;
    margin-right:0.5rem;
    border-radius:50%;
    box-shadow:0px 0px 1px black;
    background-color:white;
}
.trending h3{
    font-size:1.6rem;
    text-transform: capitalize;
    color:tomato;
    font-weight:600;
}
.trending h2{
    font-size:1.95rem;
    text-transform: uppercase;
    font-weight:800;
    color:rgb(151, 148, 148);
    text-shadow:0px 0px 1px rgb(151, 148, 148);
}
.trending p{
    font-size:1.2rem;
    text-transform: capitalize;
    font-weight: 600;
    color:black;
}
.trending p > span{
    font-size:1.5rem;
    font-weight:550;
}
.trending button{
    width:fit-content;
    padding:0.4rem;
    color: white;
    background-color: tomato;
    border:none;
    border-radius:0.2rem;
    text-transform: uppercase;
    font-weight: 550;
    box-shadow:0px 0px 1px black;
    transition:transform .2s ;
}
.trending button:hover{
    transform:scale(1.05);
}
body > .categories{
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    margin-top:1.5rem;
}
.categories > .card{
    border:solid 1px rgb(241, 237, 237);
    height:fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius:0.35rem;
    box-shadow:0px 0px 1px rgb(196, 193, 193);
    padding:0.2rem;
    gap:0.4rem;
}
.categories > .card > .item{
    display: flex;
    flex-direction: column;
    gap:0.45rem;
}
.categories > .card h3{
    font-size: 1rem;
    text-transform:uppercase;
}
.categories > .card h4{
    font-size:0.8rem;
    text-transform: capitalize;
    color:rgb(236, 12, 12);
}
.categories > .card  img{
    width:2.5rem;
    /* border:solid 1px red; */
    padding:0.2rem;
    background-color:rgb(226, 223, 223);
    border-radius:0.2rem;
}
.main-sec{
    width:100%;
    display: flex;
    justify-content: center;
    margin-top:3rem;
}
.main-sec > .grid-container{
    width:87%;
    height:fit-content;
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows:repeat(7,1fr);
    /* border:solid 1px red; */
    gap:2rem;
}
.grid-container > .item1 > .heading{
    font-size:1.15rem;
    font-weight:600;
    text-transform: uppercase;
}
.grid-container > .item1{
    grid-row:1/3;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap:1rem;
    padding:1rem;
    border:solid  1px rgb(236, 229, 229);
    box-shadow: 0px 0px 1px rgb(248, 245, 245);
}
.grid-container > .item1 > .item{
    width:100%;
    height:fit-content;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.grid-container > .item1 > .item > div{
    display: flex;
    flex-direction: row;
    gap:0.35rem;
}
.grid-container > .item1 > .item img{
    width:1.5rem;
}
.grid-container > .item1 > .item > div > h3{
    font-size:1.05rem;
    font-weight:500;
    text-transform:capitalize;
}
.grid-container > .item1 > .item > img.plus{
    width:1rem;
    opacity:0.85;
}
.grid-container > .item2{
    grid-column:2/5;
    grid-row:1/4;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:repeat(5,1fr);
    gap:1.2rem;
    border:none;
}
.grid-container > .item2 > .heading{
    grid-column:1/4;
    height:fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:1rem;
    border:none;
    border-bottom:solid 1px rgb(175, 171, 171);
}
.grid-container > .item2 > .item{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap:10px;
    border:solid 1px rgb(197, 192, 192);
    box-shadow:0px 0px 1px rgb(212, 207, 207);
    border-radius:5px;
    padding:0.15rem;
}
.grid-container > .item2 > .item > .text{
    width:65%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}
.grid-container > .item2 > .item > .text > button{
    width:fit-content;
    height: fit-content;
    background-color:#e4b431;
    font-size:0.8rem;
    color:black;
    text-transform: capitalize;
    box-shadow:0px 0px 1px rgb(177, 174, 174);
    font-weight:600;
    border:none;
    border-radius:0.2rem;
    padding:0.25rem;
    outline:none;
    transition: transform .1s;
    cursor: pointer;
}
.grid-container > .item2 > .item > .text > button:hover{
    transform:scale(1.01);
}
.grid-container > .item2 > .item > .text > button:active{
    opacity:0.8;
}
.grid-container > .item2 > .item > .text > h4{
    font-size:1.3rem;
    text-transform: capitalize;
}
.grid-container > .item2 > .item > .text > h6{
    font-size:1rem;
    text-transform: capitalize;
    color:rgb(131, 122, 122);
}
.grid-container > .item2 > .item > .text > h5{
    font-size:1rem;
    color:red;
}
.grid-container > .item2 > .item > .text > h5 > span{
    font-size:0.8rem;
    text-decoration: line-through;
    color: rgb(156, 150, 150);
}
.grid-container > .item2 > .heading > .head{
    font-size:1.15rem;
    font-weight: 600;
    text-transform: capitalize;
}
.grid-container > .item2 > .item > img{
    width:4rem;
    height:fit-content;
}
.grid-container > .item3{
    grid-row:3/5;
    display: flex;
    flex-direction:column;
    gap:0.8rem;
    padding:0.7rem;
    border:none;
}
.grid-container > .item3 > .head{
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
}
.grid-container > .item3 > .item{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:0.5rem;
}
.grid-container > .item3 > .item > .img > img{
    width:3.5rem;
}
.grid-container > .item3 > .item > .text{
    width:80%;
    display: flex;
    flex-direction:column;
    justify-content:space-around;
}
.grid-container > .item3 > .item > .text > h4{
    font-size: 1.3rem;
    text-transform: capitalize;
    color:rgb(99, 94, 94);
}
.grid-container > .item3 > .item > .text > h5{
    font-size:1rem;
    color:rgb(207, 38, 8);
    font-weight:600;
    /* text-decoration: line-through; */
}
.grid-container > .item3 > .item > .text > h5 > span{
    text-decoration:line-through;
    color:rgb(143, 138, 138);
}
.grid-container > .item4{
    grid-column:2/5;
    grid-row:4/8;
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows:repeat(10,1fr);
    gap:1.5rem;
    border:none;
}
.grid-container > .item4 > .head{
    grid-column:1/5;
    /* width:fit-content; */
    display: flex;
    /* justify-content:; */
    align-items: center;
    font-size: 1.5rem;
    font-weight:600;
    text-transform: capitalize;
    padding:0.5rem;
    border:none;
    border-bottom:solid 1px rgb(219, 214, 214);
}
.grid-container > .item4 > .item{
    grid-area:span 3;
    /* width:fit-content; */
    border-radius:5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:1rem;
}
.grid-container > .item4 > .item > img{
    width:7.5rem;
}
.grid-container > .item4 > .item > .text{
    width:50%;
    height: fit-content;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    gap:0.5rem;
}
.grid-container > .item4 > .item > .text > h5{
    font-size:1rem;
    color:rgb(238, 55, 23);
    text-transform: uppercase;
}
.grid-container > .item4 > .item > .text > h5 > span{
    font-size:0.9rem;
    text-transform: capitalize;
    color:rgb(148, 143, 143);
}
.grid-container > .item4 > .item > .text > button{
    width:fit-content;
    height:fit-content;
    border:none;
    font-weight: 600;
    border-radius:0.2rem;
    text-transform: capitalize;
    color:black;
    padding:0.25rem;
    box-shadow:0px 0px 0.01rem rgb(224, 221, 221);
    background-color:#e4b431;
    cursor: pointer;
    transition: transform .1s;
}
.grid-container > .item4 > .item > .text > button:hover{
    transform:scale(1.01);
}
.grid-container > .item4 > .item > .text > button:active{
    opacity:0.8;
}
.grid-container > .item4 > .item > .text > h6{
    font-size:0.95rem;
    font-weight:700;
}
.grid-container > .item4 > .item > .text > h6 > s{
    color:rgb(134, 132, 132);
}
/* .grid-container > .item4 > .item > .cross{
    position: absolute;
    rotate: -45deg;
    margin-top:10px;
    border-top: solid black 1px;
    border-bottom:solid 1px black;
    
} */
.grid-container > .item4 > .item{
    border: 1px solid rgb(236, 230, 230);
    box-shadow:0px 0px 1px rgb(240, 237, 237);
}
.grid-container > div{
    border:solid 1px black;
    border-radius:0.5rem;
}
footer{
    width:100%;
    height:fit-content;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    background-color: rgb(41, 40, 40);
    /* padding:2rem; */
    margin-top:3rem;
}
footer > .fir{
    width:100%;
    height:fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding:2rem;
}

footer > .fir .head{
    font-size:1.5rem;
    font-weight:500;
    text-transform: uppercase;
    color:white;
    text-underline-offset:0.5rem;
    text-decoration: underline red;
    margin-bottom:10px;
}
footer > .fir li{
    list-style:none;
    font-size:1.2rem;
    color:rgb(185, 180, 180);
    text-transform: capitalize;
}
footer > .fir > .contact{
    display: flex;
    flex-direction:column;
    gap:1rem;
    /* gap: 10px; */
}
footer > .fir > .contact > .sub{
    display: flex;
    flex-direction:row;
    gap: 0.5rem;
}
footer > .fir li > img{
    width:1.5rem;
    height:1.5rem;
    mix-blend-mode:multiply;
}
footer > .sec{
    display: flex;
    flex-direction: column;
    align-items:center ;
    padding:0.7rem;
    border-top:solid 1px rgb(88, 86, 86);
    gap: 0.5rem;
}
footer > .sec > img{
    width:22.5rem;
}
footer > .sec > p{
    font-size:1.3rem;
    text-transform: capitalize;
    color:rgb(126, 122, 122);
}
/* for lesser than 1000px */
@media (max-width:1245px) and (min-width:950px) {
    body .trending{
        width:90%;
        height:25em;
    }
    .main-sec > .grid-container{
        width:90%;
        gap:1.5rem;
    }    
    .grid-container > .item2 > .item{
        display: flex;
        padding:1px;
        justify-content: space-around;
    }
    .grid-container > .item2 > .item > .text > h4{
        font-size:0.9rem;
    }
    .grid-container > .item2 > .item > .text > h6{
        font-size:1rem;
    }
    .grid-container > .item2 > .item > .text > h5{
        font-size:1rem;
    }
    .grid-container > .item3 > .item > .img > img{
        width:2.5rem;
    }
    .grid-container > .item3 > .item > .text > h4{
        font-size: 1rem;
        text-transform: capitalize;
        color:rgb(99, 94, 94);
    }
    .grid-container > .item3 > .item > .text > h5{
        font-size:0.8rem;
        /* text-decoration: line-through; */
    }
    .grid-container > .item4{
        grid-column:2/5;
        grid-row:4/8;
        display: grid;
        grid-template-columns:repeat(4,1fr);
        grid-template-rows:repeat(10,1fr);
        gap:1rem;
        border:none;
    }
    
    .grid-container > .item4 > .item{
        grid-area:span 3;
        /* width:fit-content; */
        border-radius:5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding:1rem;
    }
    .grid-container > .item4 > .item > img{
        width:6.5rem;
    }
    .grid-container > .item4 > .item > .text{
        width:100%;
        height: fit-content;
        display:flex;
        flex-direction:column;
    }
}