:root{
    --fontFamily:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --compWidth:90vw; /*this is for small screen from 1100px to 900px or something */
    --compbigWidth:85vw;/* this is for big screen */
    --btnPadding:0.5rem;
}
body{
    position: relative;
}
.nav-lower{
    display: none;
}
.upper{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    padding:0.5rem;
    margin:-10px;
    border-bottom:solid 1px rgb(206, 202, 202);
    .social{
        width:8.5rem;
        height:100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    img{
        width:1.5rem;
    }
    .text{
        font-size:0.9rem;
        font-family:var(--fontFamily);
        text-transform: capitalize;
        font-weight:500;
        color:rgb(134, 133, 133);
    }
}
.upper > .convert > select{
    border:none;
    color:rgb(134, 133, 133);
}
nav{
    width:100%;
    height:3.5rem;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    margin-top:1rem;
    border-bottom:solid 1px rgb(206, 202, 202);
    img{
        width:5.5rem;
        
    }
    input{
        width:23.5rem;
        height:2rem;
        border:solid 1px rgb(204, 202, 202);
        outline: none;
        padding:0.5rem;
        border-radius:0.25rem;
    }
}
::placeholder{
    font-size:0.9rem;
    font-weight:600;
    font-family:var(--fontFamily);
    text-transform: capitalize;
}
nav > .option{
    width:8rem;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}
nav > .option > img{
    width:1.65rem;
}
header{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:0.5rem;
}
header > .categories{
    width:var(--compbigWidth);
    height:2rem;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    li{
        list-style:none;
        font-size:0.9rem;
        text-transform: uppercase;
        font-family: var(--fontFamily);
        font-weight:600;
    }
    li:hover{
        text-decoration:underline red 2px;
        text-underline-offset:0.24rem;
        cursor: pointer;
    }
}
header > .banner-section{
    width:var(--compbigWidth);
    height:35rem;
    background-size:100% 100%;
    border-radius:0.2rem;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    position: relative;
    img{
        width:2rem;
        height:2rem;
        border-radius:50%;
    }
    .offer{
        height:100%;
        width:20rem;
        position: absolute;
        font-family:var(--fontFamily);
        left:5rem;
        top:7rem;
        h3{
            font-size:1.6rem;
            text-transform: capitalize;
            color:rgb(253, 81, 81);
            margin-top:4rem;
        }
        h2{
            font-size:2rem;
            text-transform: uppercase;
            font-weight:700;
            margin-top:-1.3rem;
        }
        h4{
            text-transform:capitalize;
            color:rgb(121, 117, 117);
            margin-top:-1.5rem;
        }
        h4 > span{
            font-size:1.5rem;
            margin-top:-1.5rem;
        }
        button{
            color:white;
            background-color:rgb(235, 86, 86);
            border:none;
            font-size:0.8rem;
            text-transform: uppercase;
            padding:var(--btnPadding);
            border-radius:0.2rem;
        }
        button:hover{
            background-color:black;
        }
    }
    /* transform: translateX(100%); */
    /* transform: translateX(-100%); */
}

@media (max-width:1210px) and (min-width:836px) {
    header > .banner-section{
        width:var(--compWidth);
        height:20rem;
        .offer{
            top:-0.5rem;
        }
    }
}

@media (max-width:835px) and (min-width:490px) {
    .nav-lower{
        position:fixed;
        bottom:0;
        right:20%;
        left:20%;
        width:60vw;
        /* height:3rem; */
        border:solid 1px;
        display:flex;
        flex-direction:row;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        border-top-left-radius:0.35rem;
        border-top-right-radius:0.35rem;
        border:none;
        box-shadow:0px 0px 0px 1px rgb(226, 221, 221);
        z-index:1;
        padding:0.7rem;
        img{
            width:2rem;
            height:2rem;
        }
    }
}